#!/usr/bin/make -f
export DH_VERBOSE=1

ARCH=$(DEB_HOST_GNU_CPU)
CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)-

JOBS=$(shell expr 2 \* $(shell cat /proc/cpuinfo | grep processor | wc -l))
KARGS=ARCH=$(ARCH) CROSS_COMPILE=$(CROSS_COMPILE) -j$(JOBS) V=1
KCONFIG_CONFIG=am335x_boneblack_defconfig

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) $(KARGS) distclean

override_dh_auto_build:
	$(MAKE) $(KARGS) $(KCONFIG_CONFIG)
	$(MAKE) $(KARGS) all

override_dh_auto_configure:
override_dh_auto_test:
	true # pass
